body {
  margin: 0px;
}

.main{
  height: 700px;
  background-image: url('https://static.pexels.com/photos/253682/pexels-photo-253682.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1000px) {
  #container {
    height: 700px;
    width: 1000px;
    margin: 0 auto;
  }
}

.header {
  margin-top: 0px;
  width: 1000px;
}

.logo {
  margin-top: 10px;
  float: left;
  border-radius: 50%;
}

nav {
  float: right;
  margin-top: 26px;
}

.navbar {
  color: #fff;
  font-size: 20px;
  margin-left: 25px;
  text-decoration: none;
}

.navbar: hover {
  text-decoration: underline;
}

span {
  width: 100%;
}

h1 {
  font-size: 80px;
  color: #fff;
  text-align: center;
  clear: both;
  padding-top: 200px;
}

h2 {
  font-size: 36px;
  color: #fff;
  text-align: center;
  clear: both;
  margin-top: -60px;
}

/*HEADER SECTION*/
  #head {
  width: 100%;
  height: 350px;
  background-image: url('https://static.pexels.com/photos/268862/pexels-photo-268862.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.port {
  padding-top: 75px;
}

.portfolio {
  width: 300px;
  height: 250px;
}

.padding {
  padding-left: 46px;
}

.one {
  margin-top: 46px;
}

.two {
  margin-top: 46px;
}

.three {
  margin-top: 46px;
}

.four {
  margin-top: 46px;
}

/*BLOG SECTION*/
p.title {
  color: #cccccc;
  font-size: 20px;
}

/*FOOTER SECTION*/
footer {
  width: 100%;
  height: 400px;
  background-color: #f50644;
  margin-top: 500px;
}

#foot {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

h3 {
  color: #ffffff;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
  background: #3B5998;
  color: white;
}

.fa-wordpress {
  background: #55ACEE;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

div.social {
  float: left;
  margin-top: 20px;
}

a.social {
  margin: right: 15px;
}

div.contact {
  float: right;
  margin-right: 275px;
  margin-top: 20px;
}

label {
  color: #ffffff;
}

input.text {
  height: 30px;
  width: 250px;
  border-radius: 3px;
  border: none;
}

textarea.message {
  height: 100px;
  width: 250px;
  border-radius: 3px;
  border: none;
}

input.submit {
  width: 60px;
  height: 30px;
  background-color: #ffffff;
  color: #f50644;
  border: none;
  border-radius: 3px;
}

input.submit:hover {
  text-decoration: underline;
}
